<section class="event-card">


    <div >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta quis incidunt, quibusdam voluptatem fugit vitae consequuntur? Hic sed asperiores commodi ducimus dolore, suscipit numquam, quia sequi perspiciatis eos, excepturi voluptatem.</div>
    <button (click)="change()">click</button>



    <br><br><br>
    <h2>
        {{count}}
    </h2>

    <button (click)="thecount()">click</button>

    <br><br><br><br>

    <input (blur)="inputBlur()">
    
  
</section>
