<p>property works!</p>
<img height="100px" width="200px" [src]="image" alt="">

<br>
<br>
<button [disabled]="isdisable">save</button>


<br><br>
<button (click)="toggleButton()">click</button>


<br><br>
<a [href]="website"> googel</a>

<br><br>
<input type="text" [value]="name" name="name" id="">

<br><br><br>
<p [hidden]="hideText">frehhgwethjkbjk iggh s nijrwn sg iutb gnbsbg n sejb nbziusergn jsuijfg n Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate illo maiores aut praesentium perferendis repudiandae, porro dicta cum accusamus tempora officiis quod labore placeat reiciendis voluptatum in quibusdam! Aspernatur, Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero maxime quasi assumenda adipisci ex alias doloribus explicabo magni dolorem itaque.</p>

<br><br><br>
<button (click)="toggleButton2()">click</button>