<div class="main">

  <div class="form-box">

<h2>Student Detail form</h2>

<form action="" #myForm ="ngForm" (ngSubmit)="saveData()">

    <input type="text" placeholder="Full Name" [(ngModel)]="student.name" name="name">

    <input type="email" placeholder="@gmail.com" id="" [(ngModel)]="student.email" name="email">

    <input type="text" placeholder="Write Course name" [(ngModel)]="student.course"  name="course">

    <button [disabled]="myForm.invalid">

    Save

  </button>
</form>

  </div>

</div>