
<h1>Operation on Words</h1>
<h3>{{name | uppercase}}</h3>
<h3>{{name | titlecase}}</h3>
<h3>{{name | slice:0.6 }}</h3>

<h1>Operation on Number</h1>
<h3>{{price | number}}</h3>
<h3>{{price | currency}}</h3>
<h3>{{attendance | percent}}</h3>
<h3>{{1500 | currency}}</h3>





<h1>Operation on Date</h1>

<h3>{{today|date}}</h3>
<h3>{{today|date:'short'}}</h3>
<h3>{{today|date:'medium'}}</h3>
<h3>{{today|date:'long'}}</h3>
<h3>{{today|date:'full'}}</h3>
<h3>{{today|date:'dd/MM/yyyy'}}</h3>
<h3>{{today|date:'dd/MMMM/yyyy'}}</h3>
<h3>{{today|date:'hh/mm/ss'}}</h3>



<h1>Operation on Date</h1>
<h3>{{phone  | custom}}</h3>


